# Local Netlify folder
.netlify

# rmpc layouts
.config/rmpc/layout/long.ron
.config/rmpc/layout/shell.ron

# Vim session files
*.vim

# Secrets :D
.config/zsh/.secrets.zsh

# Generated theme files
.config/nvim/theme.lua
.config/quickshell/reshell/core/data/themes/content.json
packages

# Generated color config
.config/hypr/config/colors.lua
.config/matugen/test.json
.config/niri/modules/colors.kdl
.config/matugen/data/userChrome.css.config/matugen/data/userContent.css
.config/matugen/data/
