# Local Netlify folder
.netlify

# Generated colors file
.config/niri/modules/colors.kdl

# Generated matugen outputs
.config/matugen/data/userChrome.css.config/matugen/data/userContent.css
.config/matugen/data/
