hotkey-overlay {
    skip-at-startup
    hide-not-bound
}

prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"


// #############################
// ### ENVIRONMENT VARIABLES ###
// #############################

// set environment variables
environment {
  XDG_CURRENT_DESKTOP "Niri"
  QT_QPA_PLATFORMTHEME "qt6ct"
  ELECTRON_OZONE_PLATFORM_HINT "auto"
}

// cursor theme and size
cursor {
  xcursor-theme "Bibata-Modern-Ice"
  xcursor-size 24
  hide-when-typing
  hide-after-inactive-ms 1000
}

// start up qs
spawn-sh-at-startup "dbus-update-activation-environment --systemd WAYLAND_DISPLAY XDG_CURRENT_DESKTOP"
spawn-sh-at-startup "pdaemon"
spawn-sh-at-startup "qs -c dots"
spawn-sh-at-startup "mpdris2-rs -n"
spawn-sh-at-startup "wl-paste --watch cliphist store"
