// spawn-sh-at-startup "qs -c ~/source/qs/MyAwesomeShell"
// spawn-at-startup "waybar"

hotkey-overlay {
    skip-at-startup
    hide-not-bound
}

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

// You can also set this to null to disable saving screenshots to disk.
// screenshot-path null

// #############################
// ### ENVIRONMENT VARIABLES ###
// #############################
environment {
  XDG_CURRENT_DESKTOP "Niri"
  QT_QPA_PLATFORMTHEME "qt6ct"
}

cursor {
  xcursor-theme "Bibata-Modern-Ice"
  xcursor-size 24
  hide-when-typing
  hide-after-inactive-ms 1000
}

