output "DP-1" {
  mode "1920x1080@165"
  scale 1
  transform "normal"
  position x=0 y=840
  variable-refresh-rate on-demand=true
  
  hot-corners {
    off
  }


  layout {
    preset-column-widths {
        proportion 0.25
        proportion 0.5
        proportion 0.75
        proportion 1.0
    }
    preset-window-heights {
        proportion 0.25
        proportion 0.5
        proportion 0.75
        proportion 1.0
    }
    default-column-width { proportion 0.75; }

    struts {
        left 0
        right 0
        top 0
        bottom 0
    }
  }
}

layer-rule {
  match namespace="Background-DP-1"
  place-within-backdrop true
}

output "DP-2" {
    mode "1920x1080@165.002"
    scale 1
    transform "270"
    position x=1920 y=0
    variable-refresh-rate on-demand=true

    hot-corners {
      off
    }

    layout {
      preset-column-widths {
          proportion 0.25
          proportion 0.5
          proportion 0.75
          proportion 1.0
      }
      preset-window-heights {
          proportion 0.25
          proportion 0.5
          proportion 0.75
          proportion 1.0
      }
      default-column-width { proportion 1.0; }
      always-center-single-column
    }
}

layer-rule {
  match namespace="Background-DP-2"
  place-within-backdrop true
}
