window-rule {
  match app-id=r#"^steam_app_.*"#
  open-on-output "DP-1"
}

window-rule {
    geometry-corner-radius 2
    clip-to-geometry true
}
window-rule {
    match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
    default-floating-position x=10 y=10 relative-to="bottom-right"
}

window-rule {
  match app-id="org.prismlauncher.PrismLauncher"
  default-floating-position x=10 y=10
}

window-rule {
    match app-id="steam" title="Steam"
    open-on-output "DP-2"
}

window-rule {
    match app-id="discord"
    open-on-output "DP-2"
}

window-rule {
    match app-id="scrin.io"
    open-on-output "DP-2"
}

window-rule {
    match app-id="org.telegram.desktop" title="Telegram"
    open-on-output "DP-2"
}


window-rule {
  match title="btop"
  open-on-output "DP-2"
  min-height 530
  max-height 530
}

window-rule {
  match title="Hytale" app-id="HytaleClient"
  open-on-output "DP-1"
  open-maximized true
}

layer-rule {
  match namespace="Background"
  place-within-backdrop true
}
