cursor {
  xcursor-theme "breeze_cursors"
  xcursor-size 48
    hide-when-typing
    hide-after-inactive-ms 1000
}

/-window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screen-capture"

    // Use this instead if you want them visible on third-party screenshot tools.
    // block-out-from "screencast"
}

window-rule {
    geometry-corner-radius 2
    clip-to-geometry true
}


