@import "/home/dfltplyr/.config/waybar/colors-waybar.css";

* {
    border-radius: 0em;
    padding: 2px;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 10px;
}

window#waybar {
    background: alpha(@background, 0.7);
}

#pill {
    background-color: @background;
    border-style: solid;
    border-color: @background;
}

#workspaces button {
    box-shadow: none;
    text-shadow: none;
    padding: 0em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    margin-left: 0em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    margin-right: 0em;
    color: alpha(@foreground, 0.9);
    animation: ws_normal 20s ease-in-out 1;
}

#workspaces button.active {
    background: @color7;
    color: @color0;
    margin-left: 0.3em;
    padding-left: 1.2em;
    padding-right: 1.2em;
    margin-right: 0.3em;
    animation: ws_active 20s ease-in-out 1;
    transition: all 0.4s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button:hover {
    background: alpha(@color7, 0.5);
    color: @color0;
    animation: ws_hover 20s ease-in-out 1;
    transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#taskbar button {
    box-shadow: none;
    text-shadow: none;
    padding: 0em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    margin-left: 0em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    margin-right: 0em;
    color: @color1;
    animation: tb_normal 20s ease-in-out 1;
}

#taskbar button.active {
    background: @color7;
    color: @color6;
    margin-left: 0.3em;
    padding-left: 1.2em;
    padding-right: 1.2em;
    margin-right: 0.3em;
    animation: tb_active 20s ease-in-out 1;
    transition: all 0.4s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#taskbar button:hover {
    background: alpha(@color1, 0.5);
    color: @color6;
    animation: tb_hover 20s ease-in-out 1;
    transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces,
#taskbar {
    padding: 0em;
}

window#waybar.top .modules-left,
window#waybar.top .modules-center,
window#waybar.top .modules-right,
window#waybar.bottom .modules-left,
window#waybar.bottom .modules-center,
window#waybar.bottom .modules-right {
    padding-left: 0.3em;
    padding-right: 0.3em;
    margin-left: 0.3em;
    margin-right: 0.3em;
}

window#waybar.top label.module,
window#waybar.bottom label.module {
    padding-left: 0.2em;
    padding-right: 0.2em;
    margin-left: 0.2em;
    margin-right: 0.2em;
}

window#waybar.left label.module,
window#waybar.right label.module {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

window#waybar.right #pill,
window#waybar.left #pill {
    padding: 0em;
}

window#waybar.bottom #pill,
window#waybar.top #pill {
    padding: 0em 1em;
}

/* ? Dynamic button */

window#waybar.top button,
window#waybar.bottom button {
    margin: 0.41em 0.11em;
    border: 0em;
    /* padding: 0.1em 0.5em; */
}

window#waybar.left button,
window#waybar.right button {
    margin: 0.11em 0.41em;
    border: 0em;
}

tooltip {
    /* all: unset; */
    background: @background;
    color: @foreground;
    border-width: 0.1pt;
    border-color: @foreground;
}

#tray menu * {
    min-height: 1.6em;
}

#tray menu separator {
    min-height: 0.1em;
}

#language {
    min-width: 1.11em;
}

window#waybar.bottom #pill menuitem,
window#waybar.bottom #pill menu,
window#waybar.bottom #pill tooltip,
window#waybar.bottom #pill,
window#waybar.bottom #pill button,
window#waybar.top #pill menuitem,
window#waybar.top #pill menu,
window#waybar.top #pill tooltip,
window#waybar.top #pill,
window#waybar.top #pill button {
    border-radius: 10pt 10pt 10pt 10pt;
}

window#waybar.left #pill menuitem,
window#waybar.left #pill menu,
window#waybar.left #pill tooltip,
window#waybar.left #pill,
window#waybar.left #pill button,
window#waybar.right #pill menuitem,
window#waybar.right #pill menu,
window#waybar.right #pill tooltip,
window#waybar.right #pill,
window#waybar.right #pill button {
    border-radius: 10pt 10pt 10pt 10pt;
}
