include optional=true "./modules/animations.kdl"
include optional=true "./modules/init.kdl"
include optional=true "./modules/inputs.kdl"
include optional=true "./modules/keybinds.kdl"
include optional=true "./modules/layouts.kdl"
include optional=true "./modules/monitors.kdl"
include optional=true "./modules/rules.kdl"
