#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]

(
    lyrics_dir: "/StorageBtw/Music",
    tab_bar: (
        enabled: true,
        active_style: (
          fg: "#5f4102",
          bg: "#140d05",
          modifiers: "Bold"
        ),
        inactive_style: (
          fg: "#f0e0cf"
        ),
    ),
    highlighted_item_style: (
        fg: "#5f4102", 
        modifiers: "Bold"
    ),
    current_item_style: (fg:"#5f4102" , bg: "#d0c890", modifiers: "Bold"),
    borders_style: (fg: "#5f4102"),
    highlight_border_style: (fg: "#f0e0cf"),
    symbols: (song: "", dir: "", marker: "", ellipsis: " ... "),
    progress_bar: (
      symbols: ["", "󰮯", ""],
      elapsed_style:(fg: "#f0e0cf"),
      track_style: (fg: "#ebc078"),
      thumb_style: (fg: "#ffdeab"),
    ),
    scrollbar: (
        symbols: ["│", "█", "▲", "▼"],
        track_style: (),
        ends_style: (),
        thumb_style: (fg: "#f0e0cf"),
    ),
    cava: (
        framerate: 165,
        autosens: true,
        sensitivity: 100,
        lower_cutoff_freq: 50,
        higher_cutoff_freq: 10000,
        bar_color: Single("#d0c890"),
        input: (
            method: Fifo,
            source: "/tmp/mpd.fifo",
            sample_rate: 44100,
            channels: 2,
            sample_bits: 16,
        ),
        smoothing: (
            noise_reduction: 77,
            monstercat: false,
            waves: false,
        ),
        eq: []
    ),
)
